
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for mobile viewport and safe areas */
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: fixed; /* Prevents pull-to-refresh and rubber-banding */
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.safe-area-padding {
  padding: 1rem; /* This is the original p-4 */
  padding-top: calc(1rem + env(safe-area-inset-top));
  padding-right: calc(1rem + env(safe-area-inset-right));
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  padding-left: calc(1rem + env(safe-area-inset-left));
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}

/* STYLES FOR PROGRESS BAR */
.animate-progress-shimmer {
  animation: progress-shimmer 1.5s ease-in-out infinite;
  background-image: linear-gradient(90deg, transparent, #6b7280, transparent);
  background-size: 200% 100%;
}

@keyframes progress-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* STYLES FOR TICKER */
.animate-scroll-left {
  animation: scroll-left linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.screen-texture {
  background-image: linear-gradient(rgba(0,0,0,0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 2px 2px;
}